html {
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

.content {
    display: flex;
}

input, button {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.left {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 200px;
    background: url(img/earth-space-view.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
}

.right {
    flex: 1;
}

.overlay {
    display: flex;
    gap: 20px;
    position: relative;
    top: 200px;
    background-color: rgba(111, 110, 110, 0.5);
    justify-content: center;
    align-items: center;
}

#overlay-text {
    font-size: 3rem;
}

#credit {
    margin-top: auto;
}

/*styling middle form section*/
.intro-par {
    min-height: 25vh;
    font-size: 1.5rem;
    background-color: rgb(42, 42, 71);
    color: white;
    padding: 200px 0px 30px 10px;
    line-height: 1.5;
}

.form-container {
    box-shadow: 2px 2px 2px rgb(183, 183, 183);
    padding: 0px 0px 20px 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.pw:invalid {
    border: 2px solid rgb(149, 0, 0);
}

button,
input {
  font-family: inherit;
  font-size: 100%;
  display: block;
}

input:focus {
    border: 2px solid rgb(38, 38, 116);
    outline: none;
    background-color: rgb(255, 247, 193);
}

input {
    width: 200px;
    margin: 8px 0;
    border: 2px solid rgb(118,118,118);
}

/* styling bottom section with btn and log in option*/
.button-container {
    padding: 20px 0px 20px 20px;
}

.button-container button {
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: rgb(42, 42, 71);
    color: white;
    font-weight: 700;
    font-size: 1.05rem;
    padding: 8px 20px;
    box-shadow: 2px 2px 5px rgb(183, 183, 183);
    border: 0;
}

.button-container a {
    appearance: none;
    text-decoration: none;
    color:rgb(42, 42, 71);
    font-weight: 700;
}