.content {
    display: flex;
}

.left {
    display: flex;
    flex-direction: column;

    position: relative;
    width: 30vw;
    min-width: 300px;
    height: 100vh;
    border: 1px solid black;
    background: url(img/earth-space-view.jpg);
    background-size: cover;
    color: white;
}

.overlay {
    display: flex;
    gap: 20px;
    position: relative;
    top: 200px;
    background-color: rgba(111, 110, 110, 0.5);
    justify-content: center;
    align-items: center;
}

#overlay-text {
    font-size: 2rem;
}

#credit {
    margin-top: auto;
}
