.content {
    display: flex;
}

.left {
    position: relative;
    width: 30vw;
    min-width: 300px;
    height: 100vh;
    border: 1px solid black;
    background: url(img/earth-space-view.jpg);
    background-size: cover;
}

.overlay {
    color: white;
    display: flex;
    gap: 20px;
    position: relative;
    top: 80px;
    background-color: rgba(111, 110, 110, 0.5);
}

#overlay-text {
    font-size: 2rem;
}

